code {
  background: #2db34a;
  border-radius: 6px;
  color: #fff;
  padding: 24px 15px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
header,
section,
aside,
footer {
  margin: 0 1.5% 24px 1.5%;
}
section {
width: 30%;
}
footer {
  margin-bottom: 0;
}

div{
  position: relative;
  display: flex;
  justify-content: space-between;
   
}

.center{
 display: flex;
 align-items: center;
 justify-content: center;
}