.header, .footer{
  box-sizing: border-box;
  width: 100%;
  background-color: grey;
  color: white;
  padding: 10px;
}

.column{
  box-sizing: border-box;
  float: left;
  padding: 15px;
}


ul{
  box-sizing: border-box;
  width: 100%;
}

li{
  box-sizing: border-box;
  margin-bottom: 10px;
  background-color: #33b5e5;
  color: #ffffff;
  padding: 10px;
}
  
.clearfix{
  display: flex;
  box-sizing: border-box;
}